<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a class="navbar-brand fw-bold text-warning" th:href="@{/agenda/gestao}">⛪ Projeto Abençoar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-sidebar-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto gap-2">
                    <li class="nav-item">
                        <a class="nav-link text-white btn btn-outline-secondary px-3 border-0" th:href="@{/agenda}">
                            🛎️ Recepção / Triagem
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-warning text-dark fw-bold px-4 active" th:href="@{/agenda/gestao}">
                            ⚙️ Painel de Gestão Estratégica
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

</body>
</html>